.maintDashAdmin--row{
    justify-self: center;
    width: 89vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    max-width: 1400px;
}

.maintDashAdmin--dials-and-chart-container {
    display: grid;
    grid-template-columns: .3fr .7fr;
}

.maintDashAdmin--chart {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin-top: 10px;
}

.maintDashAdmin--dials-container {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    gap: 15px;
}

.maintDashAdmin--dials-row {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.maintDashAdmin--dial-title {
    color: #6ba1cd;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: .1em;
}

.maintDashAdmin--dial-dropdown {
    padding: 5px;
    font-size: 1em;
    color: rgb(108, 108, 108);
    background-color: white;
    border: rgb(108, 108, 108) 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    height: 35px;
    width: 200px;
}

.maintDashAdmin--next-maint-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #2b8a36;
    justify-items: center;
    align-items: center;
    max-width: 350px;
    padding: 10px;
    margin: 25px 0 0 35px;
    border-radius: 15px;
}

.maintDashAdmin--maint-rows-container {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.maintDashAdmin--maint-row {
    background-color: #6ba1cd;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.maintDashAdmin--maint-row-title-container {
    display: grid;
    grid-template-columns: 30px 1fr 200px;
    align-items: center;
    height: 30px;
}

.maintDashAdmin--maint-row-title-equip-name {
    font-size: 1.2em;
    letter-spacing: .2em;
    font-weight: bold;
}

.maintDashAdmin--maint-row-title-equip-status {
    font-weight: bold;
}

.maintDashAdmin--maints-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    gap: 10px;
    color: rgb(108, 108, 108);
    padding: 20px;
    max-width: 80%;
}

.maintDashAdmin--maint {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr 1fr;
    border-radius: 10px;
}

.maintDashAdmin--maint-icon {
    font-size: 1.4em;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
}

.maintDashAdmin--maint-details-title {
    font-weight: bold;
}

.maintDashAdmin--maint-details-more {
    
    display: grid;
    border: 1px rgb(173, 173, 173) solid;
    border-radius: 5px;
    padding: 10px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.maintDashAdmin--maint-details-more:hover {
    background-color: rgb(173, 173, 173);
    color: white;
}