.siteEquipAdmin-img-load-modal {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    min-height: 200px;
}

.siteEquipAdmin-img-load-modal-save {
    max-width: 80px;
    height: 30px;
}


.siteEquipAdmin--row{
    justify-self: center;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    max-width: 1400px;
}

.siteEquipAdmin--labels-body {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    gap: 10px;
    color: #464646;
}

.siteEquipAdmin--labels-button{
    padding: 5px;
    border: #707070 1px solid;
    border-radius: 5px;
}

.siteEquipAdmin--labels-compName {
    font-size: 1.2em;
    letter-spacing: .1em;
    font-weight: bold;
    padding: 5px;
}

.siteEquipAdmin--labels-selectAll {
    padding-left: 10px;
}

.siteEquipAdmin--equips {
    padding-left: 15px;
}

.siteEquipAdmin--labels-checkLabel-all {
    font-weight: bold;
}


.siteEquipAdmin-site-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 100%;
    gap: 20px;
    padding: 20px;
}

.siteEquipAdmin--site-card {
    /* background-color: #6ba1cd; */
    display: grid;
    grid-template-columns: 1fr;
    
}

.siteEquipAdmin-site-card-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    background-color: #6ba1cd;
    font-size: 1.3em;
    color: white;
    display: grid;
    grid-template-columns: 40px 1fr;
    font-weight: bold;
    letter-spacing: .2em;
}

.siteEquipAdmin--site-card-body {
    background-color: rgb(152, 182, 206);
    height: 0;
    overflow: hidden;
    transition: height ease .05s;
}

.siteEquipAdmin--site-card-body.visible{
    padding: 20px;
    padding-top: 0;
    height: 100%;
    overflow: auto;
    transition: height ease .5s;
}

.siteEquipAdmin--equip-card-title-container {
    display: grid;
    grid-template-columns: 40px 1fr .9fr .9fr;
    padding: 20px;
    font-size: 1em;
    letter-spacing: .05em;
}

.siteEquipAdmin--equip-card-title {
    font-weight: bold;
}

.siteEquipAdmin--equip-card-add-new-icons {
    display: grid;
    grid-template-columns: 40px 40px;
}

.siteEquipAdmin--equip-card-body {
    /* padding: 30px; */
    height: 0;
    overflow: hidden;
    transition: height ease 0s;
}

.siteEquipAdmin--equip-card-body.visible {
    padding: 30px;
    height: 100%;
    overflow: auto;
    transition: height ease .5s;
    display: grid;
    grid-template-columns: .25fr 1fr;
}

.siteEquipAdmin--equip-card-body-img {
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteEquipAdmin--equip-card-body-no-img {
    font-size: 5em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.siteEquipAdmin--equip-card-body-no-img:hover {
    cursor: pointer; 
}


.siteEquipAdmin--equip-card-body-img-new-cont {

    font-weight: bold;
    position: relative;
    left: 1vw;
    top: -140px;
    width: 0;
    overflow: visible;
}

.siteEquipAdmin--equip-card-body-img-new {
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 5px;
    border: #EFEFEF 1px solid;
    width: 80px;
}

/* 
.siteEquipAdmin--equip-card-groups-container {
    padding: 0 20px 0 20px;
    border-radius: 10px;
    margin: 40px;
    background-color: rgb(245, 245, 245);
}

.siteEquipAdmin--equip-card-groups-title {
    padding: 10px;
    color: rgb(71, 71, 71);
    font-size: 1.2;
    font-weight: bold;
    display: grid;
    grid-template-columns: 40px 1fr;
}

.siteEquipAdmin--equip-card-groups-body {
    height: 0;
    overflow: hidden;
    transition: height ease .3s;
}

.siteEquipAdmin--equip-card-groups-body.visible {
    height: 100%;
    overflow: auto;
    transition: height ease .5s;
}

.siteEquipAdmin--group-form-ele {
    display: grid;
    grid-template-columns: .3fr 1fr;
    border: #EFEFEF 1px solid;
    background-color: #F8F8F8;  
    font-size: .9em; 
}

.siteEquipAdmin--group-form-name {
    color: #909090;
    font-weight: bold;
    border-right: #EFEFEF 3px solid;
    padding: 10px;
    border: #EFEFEF 1px solid;
}

.siteEquipAdmin--group-form-value {
    color: #707070;
    font-style: italic;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border: #EFEFEF 1px solid;
}

.siteEquipAdmin--group-form-add-icon-container {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.siteEquipAdmin--group-form-add-icon {
    font-size: 1.3em;
    color: rgb(108, 108, 108);
}

.siteEquipAdmin--group-form-add-icon:hover {
    color: rgb(71 , 71, 71);
} */


.siteEquipAdmin--equip-cards-filter-group {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border: #707070 1px dashed;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;

}

.siteEquipAdmin--equip-cards-filter-group-select {
    background-color: rgb(174, 191, 204);
    border: rgb(71, 71, 71) solid 0px;
    height: 30px;
    border-radius: 5px;
    color: rgb(71, 71, 71);
}


.siteEquipAdmin--equip-cards-filter-container {
    width: 100%;
    padding: 5px 20px 5px 20px;
    display: grid;
    grid-template-columns: 40px 1fr .9fr .9fr;
    justify-items: left;

    border: #707070 1px dashed;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}


.siteEquipAdmin--equip-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.siteEquipAdmin--equip-card {
    background-color: #d3d7db;
    color: rgb(71, 71, 71);
    /* border-radius: 5px; */
    display: grid;
    grid-template-columns: 1fr;


}

.siteEquipAdmin--site-card-address-form-ele {
    display: grid;
    grid-template-columns: .4fr 1fr;
    /* border: #EFEFEF 1px solid; */
    background-color: #F8F8F8;  
    font-size: .9em; 
}

.siteEquipAdmin--site-card-address-form-name {
    color: #909090;
    font-weight: bold;
    border-right: #EFEFEF 3px solid;
    padding: 10px;
    border: #EFEFEF 1px solid;
}

.siteEquipAdmin--site-card-address-form-value {
    color: #707070;
    font-style: italic;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border: #EFEFEF 1px solid;
}

.siteEquipAdmin--site-card-address-form-value-hovered {
    color: #707070;
    font-style: italic;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    border: #6ba1cd 1px solid;
}

.siteEquipAdmin--site-card-address-form-value-editing-container {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    align-items: center;
}

.siteEquipAdmin--site-card-address-form-value-input {
    height: 100%;
    border: #6ba1cd 1px solid;
    margin: 0;
    padding: 0 10px 0 10px;

}

.siteEquipAdmin--site-card-address-form-pencil {
    justify-self: center;
}

.siteEquipAdmin--site-card-address-form-cancel {
    color: #cb1010;
    justify-self: center;
    font-size: 1.2em;
}

.siteEquipAdmin--site-card-address-form-ok {
    color: green;
    justify-self: center;
    font-size: 1.2em;
}

.siteEquipAdmin--site-card-address-form-cancel:hover,.siteEquipAdmin--site-card-address-form-ok:hover{
    font-weight: bold;
}

.siteEquipAdmin--site-card-address-add-icon-container {
    margin-top: 20px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.siteEquipAdmin--site-card-address-add-icon {
    font-size: 1.3em;
    color: rgb(108, 108, 108);
}

.siteEquipAdmin--site-card-address-add-icon:hover {
    color: rgb(71 , 71, 71);
}




.siteEquipAdmin-required {
    border: #cb1010 1px solid;
}

@media screen and (max-width: 950px) {

    .siteEquipAdmin--row {
        position: absolute;
        left: -15vw;
        margin-top: 10px;
        width: 130vw;
        min-width: 800px;
        zoom: .6;
        transform: scale(.65);
        transform-origin:top;
    }

}